@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap");

* {
    font-family: "Poppins";
}

.wrapper {
    max-width: 1270px;
    background-color: #ffffff;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    max-width: 816px;
    margin: 0 auto;
}

.full__size {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 100px;
}

.part h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #212529;
    margin: 100px 0;
}

.part-text p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.79;
    color: #6C757D;
    margin-bottom: 35px;
}

.image {
    width: 100%;
    font-size: 0;
}

.image-2 {
    margin-left: 30px;
}

.end-part {
    padding-bottom: 30px;
}

.dashed {
    width: 54px;
    font-size: 0;
    margin: 30px auto 64px;
}

.dashed__item {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    margin-right: 10px;
}

.black {
    border: none;
    background-color: #212529;
}

.last__dashed {
    margin-right: 0;
}

.link__page {
    padding-bottom: 50px;
}

.link__button {
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 8px;
    padding: 16px 25px;
    color: #ffffff;
    background-color: #62c7f6;
    border: 2px solid rgba(6, 29, 39, 0.832);
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 10px rgba(6, 29, 39, 0.832);
}

.link__button:hover {
    transition: all 0.3s ease;
    color: rgba(224, 111, 18, 0.8);
    background-color: rgba(98, 199, 246, 0.6);
    border: 2px solid rgba(98, 199, 246, 0.6);
    box-shadow: inset 0 0 10px rgba(6, 29, 39, 0.0);
    outline: 5px solid rgba(6, 29, 39, 0.832);
}